body {
	margin: 0;
	font-family: Arial, Helvetica, freesans, sans-serif;
}

span#signin{
	margin-bottom: 8px;
	padding-left: 5px;
	font-weight: bold;
	font-size: .85em;
}

#topbar {
	background-color: black;
	width: 100%;
	height: 41px;
	color: #fff;
}

#signindiv {
	margin-left: 10px;
	padding: 7px 82px 0 0;
	float: left;
	border-right: 1px solid gray;
	height: 34px;
}

#signindiv img {
	margin-bottom: -7px;
}

#topmenudiv {
	float: left;
}

#topmenudiv li {
	list-style: none;
	font-weight: bold;
	font-size: 0.8em;
	float: left;
	border-right: 1px solid gray;
	padding: 13px 16px 0 15px;
	height: 28px;
}

#topmenudiv li:hover {
	border-bottom: 5px solid gray;
	border-right: 1px solid gray;
	list-style: none;
	font-weight: bold;
	font-size: 0.8em;
	float: left;
	padding: 13px 16px 0 15px;
	height: 23px;
}

#searchdiv {
	float: left;
	padding: 7px 5px;
}

#searchdiv input {
height: 20px;
width: 195px;
margin: 0 0 0 8px;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

.fixedwidth {
	width: 990px;
	margin: 0 auto;
}

.logodiv {
	height: 33px;
	padding: 8px 10px 0 0;
	float: left;
	border-right: 1px solid gray;
}